*{
    margin: 0;
    box-sizing: border-box;
}


.button-login {
    top: 29px;
    left: 1015px;
    width: 43px;
    height: 23px;
    text-align: left;
    font: normal normal medium 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: #CE0505;
    border: 0px;
}
.button-create {
    background-color: transparent;
    border: 1px white solid;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    top: 29px;
    left: 1099px;
    width: 181px;
    height: 46px;
    text-align: center;
    font: normal normal medium 16px/25px Poppins;
    letter-spacing: 0px;
    margin-left: 26px;
}
.header-section {
    background-color: #CE0505;
    height: 80px;
    border: 0px solid black;
    padding: 8px 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}


.breakfast-text {
    top: 117px;
    left: 113px;
    width: 527px;
    height: 51px;
    text-align: left;
    font: normal normal bold 36px/55px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    margin-top: 37px;
    margin-left: 113px;
    margin-bottom: 27px;
}

.content-1 {
    display: flex;
}

.item1 {
    border: 1px solid white;
    top: 195px;
    left: 418px;
    width: 794px;
    padding: 35px 0px 0px 25px;
    margin: 0px 0px 0px 0px;
    height: 291px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

#item2 {
    margin-top: 34px;
}

.item1-header {
    display: flex;
}

.item1-below {
    display: flex;
}
.item1-img {
    border-radius: 15px;
    left: 453px;
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: all .2s ease;
    vertical-align: middle;
}



.item1-text1 {
    font-size: 30px;
    font: normal normal 600 30px/46px Poppins;
    color: #192F60;
    padding: 0px 0px 0px 41px;
    font-weight: bold;
    opacity: 1;
    text-align: left;
}

.item1-text2 {
    top: 282px;
    left: 619px;
    width: 40px;
    height: 13px;
    padding: 0px 0px 18px 46px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/30px Poppins;
    letter-spacing: 0p    x;
    color: #192F60;
    opacity: 1;
}

.item1-text3 {    
    top: 310px;
    left: 619px;
    width: 417px;
    height: 23px;
    padding: 0px 0px 0px 46px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
}

.cuisine {
    top: 397px;
    left: 458px;
    width: 140px;
    height: 118px;
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    padding: 57px 0px 0px 0px;
    color: #636F88;
    opacity: 1;
}
.bakery {
    top: 397px;
    left: 634px;
    width: 251px;
    height: 69px;
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    padding: 57px 0px 0px 36px;
}
.line{
    width: 739px;
    height: 34px;
    border-bottom: 1px solid #636F88;
    position: absolute;
    }

.checkbox {
    display: flex;
    padding: 10px;
    top: 370px;
    left: 140px;
    margin-bottom: 19px;
    width: 18px;
    height: 18px;
    border: 2px solid #3A5075;
    border-radius: 2px;
    opacity: 1;
}
.list-name {
    padding-left: 11px;
    top: 370px;
    left: 169px;
    width: 125px;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}

.listt {
    box-sizing: border-box;
    top: 195px;
    left: 113px;
    height: 682px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    width: 260px;
    padding: 17px 0px 0px 27px;
    margin-left: 113px;
    margin-top: 0px;
    margin-right: 45px;
    margin-bottom: 96px;
}

.list1 {
    display: flex;
}
.filters {
    top: 212px;
    margin-bottom: 10px;
    left: 139px;
    width: 55px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.select-loc {
    top: 247px;
    left: 140px;
    width: 106px;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1; 
}
.cui {
    top: 335px;
    margin-bottom: 11px;
    left: 140px;
    width: 52px;
    margin-top: 22px;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}
.select {
    top: 278px;
    left: 140px;
    width: 208px;
    height: 35px;
    border: 1px solid #8C96AB;
    border-radius: 3px;
    padding-left: 9px;
    opacity: 1;
}


#idlocation {
    color: #8C96AB;
    margin-top: 11px;
    top: 278px;
    left: 140px;
    margin-right: 25px;
    width: 208px;
    height: 35px;
    border: 1px solid #8C96AB;
    padding-right: 9px;
    border-radius: 3px;
    opacity: 1;
}
.list2 {
    display: flex;
    top: 579px;
    left: 169px;
    width: 142px;
    height: 20px;
    text-align: left;
    letter-spacing: 0px;    
    margin-bottom: 14px;
    color: #8C96AB;
    opacity: 1;
}

.circle {
    top: 579px;
    left: 169px;
    width: 22px;
    height: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
    margin-bottom: 14px;
}
.Costfortwo {
    top: 544px;
    left: 140px;
    width: 89px;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    margin-top: 7px;
    margin-bottom: 15px;
    opacity: 1;
}





.pagination {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.page-nos {
    display: flex;
    list-style: none;
    
}

.page-nos li{
    top: 849px;
    left: 892px;
    width: 36px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #8C96AB;
    border-radius: 7px;
    opacity: 1;
    color: #8C96AB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
.angular {
    width: 8.17px;
    height: 16.34px;
    font-size: 23px;
}
#one {
    background-color: #8C96AB;
    color: white;
}

.brand-logo {
    width: 52px;
    height: 52px;
    /* UI Properties */
    justify-content: center;
    align-items: center;
    display: flex;
    font: normal normal 600 33px/50px Poppins;
    letter-spacing: 0px;
    color: #EB2929;
    opacity: 1;
    border: 1px solid white;
    background-color: white;
    border-radius: 130px;
}
